menu "ESP Robotics"

	config CYTRON_MDDS
		bool "Enable support for the cytron mdds series motor driver"
		help
			if enabled, Support for the cytron mdds series motor driver
			based on UART Mode.

	config CYTRON_LSA
		bool "Enable support for the cytron lsa 08 driver"
		help
			if enabled, Support for the cytron lsa 08 driver
			will be enabled.

	config ROTARY_ENCODER
		bool "Enable support for the rotary encoders"
		help
			if enabled, Support for the rotary encoders will be enabled.

endmenu
